In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
import warnings

warnings.filterwarnings("ignore")

In [4]:
df1=pd.read_csv('cars.csv')
df1.dropna(inplace=True)
df1.head()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693,11.5,70,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341,10.0,70,US

In [10]:
data = np.sort(df1['Horsepower'])
data

array([  0.,   0.,   0.,   0.,   0.,   0.,  46.,  46.,  48.,  48.,  48.,
        48.,  49.,  52.,  52.,  52.,  52.,  53.,  53.,  54.,  58.,  58.,
        60.,  60.,  60.,  60.,  60.,  61.,  62.,  62.,  63.,  63.,  63.,
        64.,  65.,  65.,  65.,  65.,  65.,  65.,  65.,  65.,  65.,  65.,
        66.,  67.,  67.,  67.,  67.,  67.,  67.,  67.,  67.,  67.,  67.,
        67.,  67.,  68.,  68.,  68.,  68.,  68.,  68.,  69.,  69.,  69.,
        70.,  70.,  70.,  70.,  70.,  70.,  70.,  70.,  70.,  70.,  70.,
        70.,  71.,  71.,  71.,  71.,  71.,  72.,  72.,  72.,  72.,  72.,
        72.,  74.,  74.,  74.,  75.,  75.,  75.,  75.,  75.,  75.,  75.,
        75.,  75.,  75.,  75.,  75.,  75.,  75.,  76.,  76.,  76.,  76.,
        77.,  78.,  78.,  78.,  78.,  78.,  78.,  79.,  79.,  80.,  80.,
        80.,  80.,  80.,  80.,  80.,  81.,  81.,  82.,  83.,  83.,  83.,
        83.,  84.,  84.,  84.,  84.,  84.,  84.,  85.,  85.,  85.,  85.,
        85.,  85.,  85.,  85.,  85.,  86.,  86.,  86.,  86.,  86.,  87.,
        87.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,
        88.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,  88.,  89.,  90.,
        90.,  90.,  90.,  90.,  90.,  90.,  90.,  90.,  90.,  90.,  90.,
        90.,  90.,  90.,  90.,  90.,  90.,  90.,  90.,  91.,  92.,  92.,
        92.,  92.,  92.,  92.,  93.,  94.,  95.,  95.,  95.,  95.,  95.,
        95.,  95.,  95.,  95.,  95.,  95.,  95.,  95.,  95.,  96.,  96.,
        96.,  97.,  97.,  97.,  97.,  97.,  97.,  97.,  97.,  98.,  98.,
       100., 100., 100., 100., 100., 100., 100., 100., 100., 100., 100.,
       100., 100., 100., 100., 100., 100., 102., 103., 105., 105., 105.,
       105., 105., 105., 105., 105., 105., 105., 105., 105., 107., 108.,
       110., 110., 110., 110., 110., 110., 110., 110., 110., 110., 110.,
       110., 110., 110., 110., 110., 110., 110., 110., 112., 112., 112.,
       113., 115., 115., 115., 115., 115., 115., 116., 120., 120., 120.,
       120., 122., 125., 125., 125., 129., 129., 130., 130., 130., 130.,
       130., 132., 133., 135., 137., 138., 139., 139., 140., 140., 140.,
       140., 140., 140., 140., 140., 142., 145., 145., 145., 145., 145.,
       145., 145., 148., 149., 150., 150., 150., 150., 150., 150., 150.,
       150., 150., 150., 150., 150., 150., 150., 150., 150., 150., 150.,
       150., 150., 150., 152., 153., 153., 153., 155., 155., 158., 160.,
       160., 165., 165., 165., 165., 167., 170., 170., 170., 170., 170.,
       175., 175., 175., 175., 175., 175., 175., 180., 180., 180., 180.,
       180., 190., 190., 190., 193., 198., 198., 200., 208., 210., 215.,
       215., 220., 225., 225., 225., 230.])

In [11]:
mean = np.mean(data)
std = np.std(data)
print('mean of the dataset is', mean)
print('std. deviation is', std)

mean of the dataset is 103.0
std. deviation is 40.10124003988304

In [12]:
### Calculate Z score. If Z score>3, print it as an outlier.

In [14]:
limit = 3
outlier = []
for i in data:
    z = (i-mean)/std
    if z > limit:
        outlier.append(i)
print('outlier in dataset is', outlier)

outlier in dataset is [225.0, 225.0, 225.0, 230.0]